{% extends 'base.html.twig' %}
 {% block body %}
     <h1 class="text-center mt-4 mb-4">Behandelingen</h1>
     <br>
     <br>
<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card border-dark" style="width: 18rem;">
                <img src="{{ asset('images/schaar.jpeg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h7 class="card-title"><b style="color: #3f9153">Knippen</b></h7>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-dark" style="width: 18rem;">
                <img src="{{ asset('images/images.jpeg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h7 class="card-title"><b style="color: #3f9153">Verven</b></h7>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-dark" style="width: 18rem;">
                <img src="{{ asset('images/meneer.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h7 class="card-title text-#65915a"><b style="color: #3f9153">Stijlen</b></h7>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}