{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
 <h3 class="text-center mt-4">Contactinformatie:</h3><br><br>
     <h5 class="text-center mb-5"> kapsalon: Marjon de Vries<br>
     Kapsters: Anita, Manon en Freek<br>
     Mail: jehaarzitgoed@kapper.nl</h5>

    {{ form(form) }}

{% endblock %}
