{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
 <h3 class="text-center mt-4">Contactinformatie:</h3><br><br>
     <h5 class="text-center mb-5"> kapsalon: Marjon de Vries<br><br>
     Kapsters: Anita, Manon en Freek<br><br>
     Mail: jehaarzitgoed@kapper.nl<br><br>Locatie: Drafbaan 16 2632GB Nootdorp</h5><br>




{% endblock %}
