{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
 <h3 class="text-center mt-4">Contactinformatie:</h3><br><br>
     <h5 class="text-center mb-5"> kapsalon: Marjon de Vries<br><br>
     Kapsters: Anita, Manon en Freek<br><br>
     Mail: jehaarzitgoed@kapper.nl<br><br>Locatie: Drafbaan 16 2632GB Nootdorp</h5><br>

    <iframe width="50%" height="300" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=52.70967533219885, -8.020019531250002&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br />


{% endblock %}
