{% extends 'base.html.twig' %}

{% block title %}Hello VoorwaardenController!{% endblock %}

{% block body %}
 <br>
 <h3 class="text-center">Algemene voorwaarden</h3>
 <br>
 <br>
 <br>
     <h6>Behandelingsvoorwaarden</h6>
    <p>– Deze algemene voorwaarden gelden voor iedere overeenkomst tussen de Kapper bij Kapsalon en de klant waarop deze algemene voorwaarden van toepassing heeft verklaard.
     <br>
     – Eventuele afwijkingen op deze algemene voorwaarden zijn slechts geldig indien deze uitdrukkelijk schriftelijk of elektronisch zijn overeengekomen.
     <br>
     – Kennelijke fouten of vergissingen op de website, in folders of publicaties van Kapsalon binden niet.
     <br>
     – Alle aanbiedingen zijn vrijblijvend, tenzij anders is aangegeven.
     Tarieven
     <br>
     – Een samengestelde prijsopgave verplicht de kapper niet tot het verrichten van een gedeelte van de opdracht tegen een overeenkomstig deel van de opgegeven prijs.
     – De klant verbindt<br> zich met de kapper de hiervoor afgesproken prijs te betalen.<br> Indien dit niet voor de behandeling besproken is gaat de kapper er vanuit dat onze tarieven de klant bekend zijn. Onze tarieven zijn te vinden op onze website: Prijzen<br>
     – Bij een Keratine behandelingen kan de ondernemer de consument verplichten tot een vooruitbetaling van maximaal vijftig procent van de totaalprijs. <br>Het resterende deel van totaalprijs zal na voltooiing van de reeks behandelingen in rekening worden gebracht.
     Webshop
     <br><br>
     – Bedenktijd van het gekochte product is 14 kalenderdagen.
     – Het product kunnen wij terug nemen als het niet gebruikt<br> is en de zegeling niet geopend is.
     – De bezorgkosten zijn €3,95 per adres. Binnen een straal van 10 km is<br> het bezorgen van uw product(en) gratis. <br>Vanaf een bestelling van €30,00 of hoger is de verzending ook gratis.<br>
     – Betaling kan worden gedaan via iDEAL of bankoverschrijving.
     – Producten die niet (heel) aankomen en u dit kunt bewijzen; zoeken wij samen met u naar een gepaste oplossing.
     Annuleren
     <br><br>
     – De klant dient een afspraak ten minste 24 uur van te voren te annuleren.<br>
     – Bij annulering binnen 24 uur kan de kapper aan de klant kosten in rekening brengen.
     Aansprakelijkheid
     <br>
     – De kapper garandeert dat de in de kapsalon uitgevoerde behandeling voldoet aan de eisen van vakbekwaamheid.<br> Zij maakt daarbij gebruik van deugdelijke middelen en materialen.
     – De kapper mag ten aanzien van de verrichten behandeling er vanuit gaan, dat de klant in een goede lichamelijke conditie verkeerd. <br>Omstandigheden bij de klant die het resultaat van de behandeling kunnen beïnvloeden,<br> of die kunnen leiden tot voor de klant ongewenste nevenverschijnselen, dient de klant vooraf aan te geven. <br>Hieronder valt medicijngebruik, allergieën en/of bestraling. Ook het gebruik van Hennapoeder of haarkleuringen met metaalhoudende ingrediënten kunnen het eindresultaat beïnvloeden.<br>
     – Is de behandeling niet zoals de klant verwachtte dan kan de klant een klacht indienen bij de kapper.<br><br> De klant dient de klacht binnen 1 week na de behandeling kenbaar<br> te maken aan de kapper.
     – De klant dient de kapper de mogelijkheid te bieden om de klacht op te lossen, d.m.v. een nieuwe behandeling.<br> De kapper is niet verplicht om de klant geld terug te geven bij ontevredenheid.
     Ten alle tijden is het het doel om de klant met een tevreden resultaat te behandelen.
     – De kapper aanvaardt geen enkele aansprakelijkheid indien tegen het advies in,<br> de klant eist dat er toch bepaalde werkzaamheden doorgang moeten vinden.
     – Indien u schriftelijk wil reageren op de algemene voorwaarden,<br> mag u mailen naar: info@kapsalon.nl Wij streven ernaar om binnen 24 uur een reactie te geven.

 </p>
{% endblock %}
